<div class="h-100 column align-center justify-center">
  <mat-card>
    <mat-card-header class="column align-center justify-center">
      <mat-card-title>Medical System</mat-card-title>
    </mat-card-header>

    <br>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="column gap-20">

        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="myname@example.com" [formControl]="loginForm.controls.email" required>
          @if (loginForm.controls.email.hasError('required')) {
          <mat-error>El usuario es requerido</mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [formControl]="loginForm.controls.password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" color="primary"
            [attr.aria-pressed]="hide" type="button">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          @if (loginForm.controls.password.hasError('required')) {
          <mat-error>La contraseña es
            requerida
          </mat-error>
          }
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Iniciar Sesión</button>
      </form>
    </mat-card-content>
  </mat-card>

</div>